# Dataset files (too large for GitHub / not ours to redistribute)
data/*.csv
data/*.zip

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Environment
.env
venv/
